<!doctype html>
<html>
  <head>
    <title>FoxChatter Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/global.css"/>
    <link rel="stylesheet" type="text/css" href="css/feed.css"/>
  </head>
  <body>

 <header>
  <h1>FoxChatter</h1>
  <div id="portal_button">
    <a href="https://my.marist.edu/" target="_blank">
      <img src="images/redfox.png" id="redfox" 
      <span>myMarist</span>
    </a>
  </div>
</header>
        
   <main>
      <div id="newsfeed"></div>
    </main>

    
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>

    <script src="js/global.js"></script>
    <script src="js/feed.js"></script>_

  <body>
</html>
